body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    
}
/* header */
header {
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
}
.header-list {
    display: flex;
    align-items: center;
    margin-left: 433px;
}
/* logo */
.header-logo {
    font-family: 'Homemade Apple', cursive;
    font-size: 18px;
    line-height: calc(39/18);
    color: #231F20;
    margin-left: 60px;
    padding-top: 39px;
    padding-bottom: 39px;
}
/* navigation */
.header-list .item {
    font-size: 18px;
    line-height: calc(22/18);
}
.header-list .item:not(:first-child) {
    margin-left: 31px;
}
.header-list .link {
    color: #000000;
}
/* header-button */
.header-btn {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: calc(22/18);
    margin-left: 375px;
    text-transform: uppercase;
    color: #F7941E;
    padding: 13px 20px;
    border: 1px solid #F7941E;
    border-radius: 5px;
    display: block;
    background-color: transparent;
}
.header-btn:hover,
.header-btn:focus {
    background-color: #F7941E;
    color: #FFFFFF;
}
/* main */
.container{
    display: flex;
    width: 1440px;
}

.container .title {
    font-size: 56px;
    line-height: calc(69 / 56);
    margin: 154px 0 36px 162px;
    color: #000000;
    margin: 0;
    padding: 0;
    
}
.container .text {
    font-size: 20px;
    line-height: calc(28 / 20);
    color: #000000;
    
}
.btn-find {
    font-family: "Roboto", sans-serif;
    background-color: #F7941E;
    color: #FFFFFF;
    width: 200px;
    padding: 23px 24px 15px 25px;
    /* margin: 0 0 135px 162px; */
    display: block;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #F7941E;
    border-radius: 5px;
}
.btn-find:hover,
.btn-find:focus {
    background-color: #FFFFFF;
    color: #F7941E;
}

